DB_USER=postgres
DB_PASS=123
DB_NAME=database
DB_HOST=127.0.0.1
PORT=3000
CLIENT_URL='http://localhost:5173'
PASS_EMAIL=V3XWYW7kgMNBOyJUwpeK
SECRET_ACCESS_TOKEN=421sdafg34trf3423rsda424fq
SECRET_REFRESH_TOKEN=sfasfasf32r2qedasdt4326t23

