PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/database
CLIENT_URL=http://localhost:5173
PASS_EMAIL=your_email_app_password
SECRET_ACCESS_TOKEN=your_access_token_secret
SECRET_REFRESH_TOKEN=your_refresh_token_secret

