.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #F6F8F5;
  box-shadow: 0 2px 16px rgba(187, 170, 180, 0.10);
}
.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_link {
  color: #858C92;
  text-decoration: none;
  padding: 7px 18px;
  margin: 0px 45px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.3rem;
  transition: background 0.2s, color 0.2s;
}

.header_link:hover {
  background: #F6D9DD;
  color: #B7A8AF;
}

.header_link--active {
  color: #fff;
  background: #B7A8AF;
  border-radius: 8px;
}

.logout-button {
  color: #858C92;
  padding: 7px 18px;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  font-size: 1.3rem;
}

.logout-button:hover {
  background: #F6D9DD;
  color: #B7A8AF;
}

.logout-button--active {
  color: #fff;
  background: #B7A8AF;
  border-radius: 8px;
}
