.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  background: #f6f8f5;
  box-shadow: 0 2px 16px rgba(187, 170, 180, 0.1);
  position: relative;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 40px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute; /* Абсолютное позиционирование */
  right: 40px;
}

.header_link {
  color: #858c92;
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.3rem;
  transition: background 0.2s, color 0.2s;
}

.header_link:hover {
  background: #f6d9dd;
  color: #b7a8af;
}

.header_link--active {
  color: #fff;
  background: #b7a8af;
  border-radius: 8px;
}

.logout-button {
  color: #858c92;
  padding: 7px 18px;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  font-size: 1.3rem;
}

.logout-button:hover {
  background: #f6d9dd;
  color: #b7a8af;
}

.logout-button--active {
  color: #fff;
  background: #b7a8af;
  border-radius: 8px;
}

.logo {
  height: 140px;
  width: 140px;
  border-radius: 100px;
}
.span {
  position: relative;
}
.thread {
  position: absolute;
  right: calc(100% - 43px);
  top: 7px;
  height: 27px;
  width: 27px;
}

.thread-link {
  padding: 7px 31px;
}

.emoji {
  display: flex;
  gap: 5px;
}

.emoji .header_link--active {
  background: #008080;
}

.thread-active {
  padding: 7px 31px;
}
